@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';
@plugin "daisyui" {
  themes:
    light --default,
    dark;
}

:root {
  font-family: 'Noto Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
  margin: 0;
  padding: 0;
  min-width: 0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100svh;
  width: 100svw;
}

#root:has(input:focus) {
  height: 100dvh;
  width: 100dvw;
}

* {
  min-width: 0;
  min-height: 0;
  image-rendering: crisp-edges;
}
